h4.top{
  padding: 10px 10px 0px 10px;
}
.data_table{
  padding: 0;
  background:white;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom: 10px
}

button{
  margin-top:32px !important
}
input[type=date]{
  margin-bottom: 20px;
  
}
